 <div id="header" class="columns">
    <div class="column is-one quarter">
    </div>
    <div class="column is-half">
      <h1 class="title is-1">Skate App: Spot-Map</h1>
    </div>
    <div class="column">
      <a href="/"><img class="logo" src="/images/skatelogo.png"></a>
    </div>
  </div>