<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <!-- skeleton + normalize -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/normalize/3.0.3/normalize.css" rel="stylesheet" type="text/css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="/main.css">
    <title>Sk8 App: Spot-Map</title>
  </head>
  <body>
{{{body}}}
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDk1HDURsBapeWkVQlt7a4dN7_wr5dKtiA&callback=initMap" async defer></script>
  </body>
</html>
