<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <!-- BULMA -->
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.5.3/css/bulma.css">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.5.3/css/bulma.css.map">
    <link rel="stylesheet" href="/main.css">
    <title>Sk8 App: Spot-Map</title>
  </head>
  <body>
{{{body}}}
  </body>
</html>
