<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <!-- skeleton + normalize -->
    <link rel="stylesheet" href="/main.css">
    <title>Skate App: Spot Map</title>
  </head>
  <body>
{{{body}}}
  </body>
</html>
