{{!-- <div class="row">
<img class="logo" src="/images/skatelogo.png"><h1>Skate App: Spot-Map</h1>
</div>
<img class="map" src="/images/maplol.jpg"> --}}
{{>header}}
<hr/>
<section class="section">
  <div class="container">
    <div class="columns">
      <div id="map" class="column">
      </div>
      <div id="info" class="column">
        <h1 class="subtitle is 4">Information:</h1>
        <hr/>
      </div>
    </div>
  </div>
</section>
<div class="container">
{{>footer}}
</div>
<script>

    function initMap() {
      var options = {
        zoom: 13,
        center: {
          lat: -41.300000,
          lng:  174.772779
        }
      }
      var map = new google.maps.Map(document.getElementById('map'), options)
          
      
        //Marker-Array
        var markers = [
            {lat: -41.292010, lng: 174.784688}, //waitangi
            {lat: -41.321686, lng: 174.780642}, //treetops
            {lat: -41.279619, lng: 174.754061} // karori
          ]

        markers.forEach(coords => {
          addMarker(coords)
        })


        //addMarker function
        function addMarker (coords) {
          var marker = new google.maps.Marker({
            position: coords,
            map: map
  })
}

    }

</script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDk1HDURsBapeWkVQlt7a4dN7_wr5dKtiA&callback=initMap" async
  defer></script>
  