{{!-- <div class="row">
<img class="logo" src="/images/skatelogo.png"><h1>Skate App: Spot-Map</h1>
</div>
<img class="map" src="/images/maplol.jpg"> --}}
{{>header}}
<section class="section">
<div id="map" class="container">
</div>
</section>
<script>

    function initMap() {
      var options = {
        zoom: 14,
        center: {
          lat: -41.2865,
          lng: 174.7762
        }
      }
      var map = new google.maps.Map(document.getElementById('map'), options)

      var maker = new google.maps.Marker({
        position:{
          lat: -41.2865,
          lng: 174.7762
          },
          map:map
      })
    }

</script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDk1HDURsBapeWkVQlt7a4dN7_wr5dKtiA&callback=initMap" async
  defer></script>
  