body {
  background-color: #8da792 
}

img.logo {
  width: 80px
}

img.map {
  height: 50%;
  width: 50%;
}

#map {
  margin-top: -50px;
  height: 400px;
  width: 80%;
}

#header {
  padding-top: 20px;
  margin-bottom: -25px;
  background-color: #a9cfac;
}

#info {
  margin-left: 20px;
  margin-top: -50px;
  height: 400px;
  background-color: #e3efe4;
}
